.click{
    position: fixed;
    right: 3%;
    bottom: 7%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: azure;
    font-weight: bold;
    font-family: "Nunito";
    width: 150px;
    background-color: #66bb6a;
    font-size: 16px;
  }
  
  .click:hover{
    cursor:pointer;
    opacity: 0.7;
  }