.divContainer {
    display: flex;
    flex-direction: column;
    background-color:#E5C9D7;
    width: 12rem;
    height: 30rem;
    margin-top: 3rem;
    margin-left: 3rem; 
    padding: 1rem 1.5rem;
}

.divContainer p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.divContainer label {
    padding-left: 2.2rem;
}


