.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .modalContent {
    background-color: white;
    position: absolute;
    top: 10%;
    left: 35%;
    width: 30%;
    padding: 30px;
  }
  
  .close {
    color: Black;
    font-size: 30px;
    font-weight: bold;
    float: right;
  }
  
  .close:hover {
    color: #bb6a66;
    cursor: pointer;
  }