
.unauthorizedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5C9D7;
    width: 20rem;
    margin: 3rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.pDescription {
    font-size: 28px;
    color: #333;
}

.spanName {
    color: #66bb6a;
    font-weight: bold;
    font-size: 26px;
    font-family: 'Bruno Ace SC';
}